<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
  <title>Rainway Demo App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }

    div.h100 {
      height: 100%;
    }

    body {
      font-family: sans-serif;
      background: #dddddd;
    }

    .build-info {
      float: right;
    }

    .page-container {
      background: #eeeeee;
      height: 100%;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
      padding: 0.5em 1em;
    }

    .stream-wrapper {
      min-height: 300px;
      display: flex;
      background: #dddddd;
    }

    pre {
      font-size: 75%;
      background: #ffeecc;
      font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      overflow-x: scroll;
      min-height: 100px;
      resize: vertical;
    }

    .setting-name {
      font-weight: bold;
    }

    .page-container>div {
      margin-top: 1em;
    }

    .output-modes>div {
      display: inline-block;
    }

    div.interactive {
      display: flex;
      align-items: stretch;
    }

    .stream-column {
      flex: 1;
    }

    .stream-controls {
      display: flex;
      align-items: center;
    }

    .stream-controls>h2~* {
      margin-inline-start: 10px;
    }

    .chat-column {
      width: 20em;
      margin-inline-start: 10px;
      display: none;
      visibility: hidden;
      flex-direction: column;
    }

    .chat-history {
      border: 1px solid rgb(0, 0, 0, 0.4);
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .chat-bottom {
      display: flex;
    }

    .chat-bottom input {
      flex: 1;
    }

    .chat-history p {
      margin: 0;
    }

    .chat-history p span {
      font-weight: bold;
    }

    .chat-info {
      opacity: 0.5;
    }

    .rainway-inner-container:focus {
      /* This is a bad idea: http://www.outlinenone.com/ */
      /* But the default obscures the stream a bit. In practice we should restyle it */
      outline: none;
    }

    .widget {
      background-color: rgb(0, 0, 0, 0.03);
      padding: 1em;
    }

    .widget+.widget {
      margin-top: 1em;
    }

    .rainway-logo {
      float: right;
    }

    .rainway-logo svg path:not(:last-child) {
      fill: #222222;
    }

    @media only screen and (max-width: 640px) {
      h1 {
        font-size: 22px;
      }

      .stream-controls {
        flex-direction: column !important;
        align-items: inherit !important;
      }

      .build-info {
        float: none !important;
      }

      div.interactive {
        flex-direction: column !important;
      }

      body,
      div.h100,
      body,
      .page-container {
        height: auto !important;
        overflow: auto !important;
      }

      .page-container,
      .widget-header {
        display: flex;
        flex-direction: column;
      }

      button {
        font-size: 16px;
      }
    }
  </style>
</head>

<body>
  <noscript>
    <p>This application requires JavaScript.</p>
  </noscript>
  <div class="h100">
    <div class="page-container">
      <h1 hidden>Rainway Demo App</h1>
      <div class="rainway-logo">
        <svg width="180" height="40" viewBox="0 0 180 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M70.0248 29.7361L65.7364 22.195H63.8985V29.7361H60V10.3843H67.2959C68.7996 10.3843 70.0805 10.6523 71.1387 11.1883C72.1969 11.7059 72.9859 12.4175 73.5057 13.3231C74.0441 14.2103 74.3132 15.2084 74.3132 16.3174C74.3132 17.5927 73.9419 18.7479 73.1994 19.783C72.4568 20.7996 71.3522 21.5019 69.8856 21.8901L74.536 29.7361H70.0248ZM63.8985 19.2839H67.1566C68.2148 19.2839 69.0038 19.0344 69.5236 18.5354C70.0434 18.0178 70.3033 17.3062 70.3033 16.4006C70.3033 15.5134 70.0434 14.8295 69.5236 14.3489C69.0038 13.8499 68.2148 13.6004 67.1566 13.6004H63.8985V19.2839Z"
            fill="#F4F4F6" />
          <path
            d="M76.8369 22.001C76.8369 20.4484 77.1432 19.0714 77.7558 17.87C78.387 16.6686 79.2317 15.7444 80.2899 15.0975C81.3666 14.4506 82.564 14.1272 83.8821 14.1272C85.0331 14.1272 86.0356 14.3582 86.8895 14.8203C87.7621 15.2823 88.4582 15.8646 88.978 16.5669V14.3767H92.9044V29.7361H88.978V27.4904C88.4768 28.2113 87.7806 28.812 86.8895 29.2925C86.017 29.7546 85.0052 29.9857 83.8542 29.9857C82.5547 29.9857 81.3666 29.653 80.2899 28.9876C79.2317 28.3222 78.387 27.3888 77.7558 26.1874C77.1432 24.9675 76.8369 23.572 76.8369 22.001ZM88.978 22.0564C88.978 21.1138 88.7924 20.3098 88.4211 19.6444C88.0498 18.9605 87.5486 18.443 86.9174 18.0918C86.2862 17.7221 85.6086 17.5373 84.8846 17.5373C84.1606 17.5373 83.4922 17.7129 82.8796 18.0641C82.267 18.4152 81.7657 18.9328 81.3759 19.6166C81.0046 20.282 80.8189 21.0768 80.8189 22.001C80.8189 22.9251 81.0046 23.7384 81.3759 24.4407C81.7657 25.1246 82.267 25.6514 82.8796 26.021C83.5108 26.3907 84.1791 26.5755 84.8846 26.5755C85.6086 26.5755 86.2862 26.3999 86.9174 26.0488C87.5486 25.6791 88.0498 25.1616 88.4211 24.4962C88.7924 23.8123 88.978 22.999 88.978 22.0564Z"
            fill="#F4F4F6" />
          <path
            d="M98.6892 12.5468C98.0023 12.5468 97.4268 12.3343 96.9627 11.9092C96.5171 11.4656 96.2943 10.9203 96.2943 10.2734C96.2943 9.62651 96.5171 9.0905 96.9627 8.66539C97.4268 8.2218 98.0023 8 98.6892 8C99.3761 8 99.9423 8.2218 100.388 8.66539C100.852 9.0905 101.084 9.62651 101.084 10.2734C101.084 10.9203 100.852 11.4656 100.388 11.9092C99.9423 12.3343 99.3761 12.5468 98.6892 12.5468ZM100.611 14.3767V29.7361H96.712V14.3767H100.611Z"
            fill="#F4F4F6" />
          <path
            d="M113.011 14.1549C114.849 14.1549 116.334 14.7371 117.467 15.9015C118.599 17.0475 119.165 18.6555 119.165 20.7256V29.7361H115.267V21.2524C115.267 20.0325 114.961 19.0991 114.348 18.4522C113.735 17.7868 112.9 17.4541 111.842 17.4541C110.765 17.4541 109.911 17.7868 109.28 18.4522C108.667 19.0991 108.361 20.0325 108.361 21.2524V29.7361H104.462V14.3767H108.361V16.2897C108.881 15.6243 109.54 15.1068 110.338 14.7371C111.155 14.3489 112.046 14.1549 113.011 14.1549Z"
            fill="#F4F4F6" />
          <path
            d="M144.259 14.3767L139.748 29.7361H135.543L132.731 19.0067L129.918 29.7361H125.685L121.146 14.3767H125.101L127.83 26.0765L130.781 14.3767H134.903L137.799 26.0488L140.528 14.3767H144.259Z"
            fill="#F4F4F6" />
          <path
            d="M145.366 22.001C145.366 20.4484 145.672 19.0714 146.285 17.87C146.916 16.6686 147.761 15.7444 148.819 15.0975C149.896 14.4506 151.093 14.1272 152.411 14.1272C153.562 14.1272 154.565 14.3582 155.419 14.8203C156.291 15.2823 156.987 15.8646 157.507 16.5669V14.3767H161.434V29.7361H157.507V27.4904C157.006 28.2113 156.31 28.812 155.419 29.2925C154.546 29.7546 153.534 29.9857 152.383 29.9857C151.084 29.9857 149.896 29.653 148.819 28.9876C147.761 28.3222 146.916 27.3888 146.285 26.1874C145.672 24.9675 145.366 23.572 145.366 22.001ZM157.507 22.0564C157.507 21.1138 157.322 20.3098 156.95 19.6444C156.579 18.9605 156.078 18.443 155.447 18.0918C154.815 17.7221 154.138 17.5373 153.414 17.5373C152.69 17.5373 152.021 17.7129 151.409 18.0641C150.796 18.4152 150.295 18.9328 149.905 19.6166C149.534 20.282 149.348 21.0768 149.348 22.001C149.348 22.9251 149.534 23.7384 149.905 24.4407C150.295 25.1246 150.796 25.6514 151.409 26.021C152.04 26.3907 152.708 26.5755 153.414 26.5755C154.138 26.5755 154.815 26.3999 155.447 26.0488C156.078 25.6791 156.579 25.1616 156.95 24.4962C157.322 23.8123 157.507 22.999 157.507 22.0564Z"
            fill="#F4F4F6" />
          <path
            d="M180 14.3767L170.449 37H166.299L169.641 29.348L163.459 14.3767H167.831L171.813 25.1061L175.851 14.3767H180Z"
            fill="#F4F4F6" />
          <path
            d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C22.9494 0 23.3044 3.52476 20.7259 4.95655C17.4161 6.79439 14.2957 8.63322 13.4645 9.4645C11.5118 11.4171 11.5118 14.5829 13.4645 16.5356C15.4171 18.4882 18.5829 18.4882 20.5355 16.5356C21.4899 15.5812 23.7722 11.6098 25.8564 7.7985C27.5826 4.64188 31.5981 3.31386 34.1421 5.85787C36.6861 8.40188 35.3581 12.4174 32.2015 14.1436C28.3902 16.2279 24.4188 18.5102 23.4645 19.4645C21.5118 21.4171 21.5118 24.583 23.4645 26.5356C25.4171 28.4882 28.5829 28.4882 30.5355 26.5356C31.3668 25.7043 33.2056 22.5839 35.0435 19.2741C36.4752 16.6956 40 17.0507 40 20Z"
            fill="#616ACB" />
        </svg>
      </div>
      <!--<p class="build-info">Built at <%= __BUILD_DATE__ %> from commit <%= __BUILD_COMMIT__ %>-->
      </p>
      <label class="setting-name" for="hostname">API Key:</label>
      <input size="40" class="api-key" type="text" />
      <br>
      <button class="when-no-relay connect-to-relay-button">Connect to Relay</button>
      <button class="when-relay disconnect-from-relay-button" disabled>Disconnect from Relay</button>
      <span class="rainway-outer-state">Disconnected</span>
      <br>
      <!--<button onclick="localStorage.clear();console.log('cleared')">Clear LocalStorage</button>-->
      <div class="widgets"></div>

      <h2 hidden>Logs</h2>
      <pre class="rainway-logs" hidden></pre>
    </div>
  </div>

  <template class="widget">
    <div>
      <div class="widget-header">
        <label class="setting-name" for="hostname">Hostname:</label>
        <input size="40" class="when-stopped hostname" type="text" />
        <br>
        <button disabled class="when-no-host connect-to-host-button">Connect to Host</button>
        <button disabled class="when-host-or-connecting disconnect-from-host-button">Disconnect from Host</button>
        <button disabled class="when-streaming fullscreen-button">Fullscreen</button>
        <button disabled class="when-streaming pause-button">Pause</button>
        <button disabled class="when-streaming stats-button">Show stats</button>
      </div>
      <div class="output-modes" hidden>
        <div class="setting-name">Output mode:</div>
        <div><label><input type="radio" name="output-mode" value="auto" checked />Automatic</label></div>
        <div><label><input type="radio" name="output-mode" value="mse" />MSE</label></div>
        <div><label><input type="radio" name="output-mode" value="software" />Software</label></div>
      </div>
      <div class="interactive">
        <div class="stream-column">
          <div class="stream-controls">
            <h2>Stream</h2>
            <button disabled class="when-ready-to-stream start-stream-button">Start Stream</button>
            <button disabled class="when-streaming stop-stream-button">Stop Stream</button>
            <span class="rainway-client-state">Disconnected</span>
          </div>
          <div class="stream-wrapper">
          </div>
        </div>
        <div class="chat-column">
          <h2>Chat</h2>
          <div class="chat-history">
            <p class="chat-info">Chat messages will show up here.</p>
          </div>
          <div class="chat-bottom">
            <input disabled class="when-host chat-input" type="text">
            <button disabled class="when-host chat-send-button" type=submit>Send</button>
          </div>
        </div>
      </div>
    </div>
  </template>
</body>

</html>
